@import "tailwindcss";
@import "@heroui/styles";
@plugin "daisyui";

.mySwiper .swiper-pagination {
  bottom: 0px !important;
}

.mySwiper .swiper-pagination-bullet {
  background: #3DAAB0;
  opacity: 0.5;
}

.mySwiper .swiper-pagination-bullet-active {
  opacity: 1;
  transform: scale(1.2);
}
.mySwiper .swiper-pagination {
  position: relative;
  margin-top: 20px;
  text-align: center;
}
